<div class = "top-wrapper">
  <h1>StaticPages#top</h1>
  <p>Find me in app/views/static_pages/top.html.erb</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "問題を解く", categorize1_question_path(current_user) %></li>
      <% else %>
        <li><%= link_to '問題を解く', '/guest_login', method: :post %></li>
      <% end %>
    </ul>
  </nav>
  <br>
</div>
