<% @questions.each do |question| %>
  <h3>甲</h1>
    <% if question.exam.kou? && question.exam.year_id == 1 %>
      <%= link_to "令和２年度", show_year_question_path(question.id) %>
    <% end %>
    <br>
    <% if question.exam.kou? && question.exam.year_id == 2 %>
      <%= link_to "令和３年度", show_year_question_path(question.id) %>
    <% end %>
  <h3>乙</h1>
    <% if question.exam.otsu? && question.exam.year_id == 1 %>
      <%= link_to "令和２年度", show_year_question_path(question.id) %>
    <% end %>
    <br>
    <% if question.exam.otsu? && question.exam.year_id == 2 %>
      <%= link_to "令和３年度", show_year_question_path(question.id) %>
    <% end %>
<% end %>

result_choices_path, method: :post

if params[:exam_id] == 1 || 2 || 3 ?
      a = Question.where(exam_id: 1).order("RANDOM()").limit(16)
      b = Question.where(exam_id: 2).order("RANDOM()").limit(10)
      c = Question.where(exam_id: 3).order("RANDOM()").limit(20)
    elsif params[:exam_id] == 4 || 5 || 6 ?
      a = Question.where(exam_id: 4).order("RANDOM()").limit(16)
      b = Question.where(exam_id: 5).order("RANDOM()").limit(10)
      c = Question.where(exam_id: 6).order("RANDOM()").limit(20)
    elsif params[:exam_id] == 7 || 8 || 9 ?
      a = Question.where(exam_id: 7).order("RANDOM()").limit(16)
      b = Question.where(exam_id: 8).order("RANDOM()").limit(10)
      c = Question.where(exam_id: 9).order("RANDOM()").limit(20)
    elsif params[:exam_id] == 10 || 11 || 12 ?
      a = Question.where(exam_id: 10).order("RANDOM()").limit(16)
      b = Question.where(exam_id: 11).order("RANDOM()").limit(10)
      c = Question.where(exam_id: 12).order("RANDOM()").limit(20)
    end
    @questions = a + b + c