<% if current_user.own?(group) || current_user.admin? %>
  <div class="flex justify-right">
    <%= link_to "編集", edit_group_path(group),class:"text-right inline-block" %>
    <%= link_to "削除", group_path(group), method: :delete,class:"text-right inline-block", data: {confirm: "グループを削除しますか？"} %>
  </div>
  <br>
<% end %>