<% if current_user.own?(group) %>
  <ul class='crud-menu-btn list-inline float-right'>
    <li class="list-inline-item">
      <%= link_to edit_group_path(group), id: "button-edit-#{group.id}" do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <%= link_to group_path(group), id: "button-delete-#{group.id}", method: :delete, data:{confirm:"こちらの投稿を削除しますか？"} do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </li>
  </ul>
  <br>
<% end %>