<div class="md:text-4xl text-3xl text-center">
  <h1><%= t '.title' %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      
      <%= render partial: 'form', locals: { group: @group } %>
    </div>
  </div>
</div>