<%= content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>グループ編集ページ</h1>
      <%= render partial: 'form', locals: { group: @group } %>
    </div>
  </div>
</div>