<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center text-4xl"><%= t '.title' %></h1>
      <br>
      <%= render partial: 'form', locals: { user: @user } %>
    </div>
  </div>
  <br>
</div>
