<div class = "header">
  <div class = "header-left">
    <%= link_to root_path do %>
      <%= image_tag 'top-logo.png', :width => '400', :height => '150' %>
    <% end %>
  </div>
  <div class = "header-right">
    <ul>
      <li class = "before-login-header-logo1"><%= link_to (t 'defaults.signup'), new_user_path %></li>
      <li class = "before-login-header-logo2"><%= link_to (t 'defaults.login'), login_path %></li>
    </ul>
  </div>
</div>