<div class = "header">
  <div class = "header-left">
    <%= link_to root_path do %>
      <%= image_tag '2022-05-18 15.50.02.png', :width => '400', :height => '150' %>
    <% end %>
  </div>
  <div class = "header-right">
    <ul>
      <li class = "before-login-header-logo1"><%= link_to "サインアップ", "#" %></li>
      <li class = "before-login-header-logo2"><%= link_to "ログイン", "#" %></li>
    </ul>
  </div>
</div>