<div class = "header">
  <div class = "header-left">
    <%= link_to root_path do %>
      <%= image_tag '2022-05-18 15.50.02.png' %>
    <% end %>
  </div>
  <div class = "header-right">
    <%= link_to "サインアップ", "#" %>
    <%= link_to "ログイン", "#" %>
  </div>
</div>