<div class = "footer">
  <ul>
  <%= link_to page_path('terms_of_service') do %>
    <li class = "footer-logo1">利用規約</li>
  <% end %>
  <%= link_to page_path('privacy_policy') do %>
    <li class = "footer-logo2">プライバシーポリシー</li>
  <% end %>
  <%= link_to page_path('form') do %>
    <li class = "footer-logo3">お問い合わせ</li>
  <% end %>
  </ul>
</div>