<div class = "bg-indigo-700">
  <div class="flex justify-around text-center m-3 w-4/5 container mx-auto">
    <div class="text-white text-opacity-75">
      <%= link_to "利用規約", page_path('terms_of_service'), class: "hover:text-white" %>
    </div>
    <div class="text-white text-opacity-75">
      <%= link_to "プライバシーポリシー", page_path('privacy_policy'), class: "hover:text-white" %>
    </div>
    <div class="text-white text-opacity-75">
      <%= link_to "お問い合わせ", new_contact_path, class: "hover:text-white" %>
    </div>
  </div>
</div>