<div class = "header">
  <div class = "header-left">
    <%= link_to root_path do %>
      <%= image_tag 'top-logo.png' %>
    <% end %>
  </div>
  <div class = "header-right">
    <%= link_to "グループ検索", "#" %>
    <%= link_to "プロフィール", "#" %>
  </div>
</div>