<div class="w-4/5 container mx-auto">
  <p class="text-4xl text-center">お問い合わせ</p>
  <br>
  <div class="shadow-inner px-5 py-2 bg-gray-200">
    <p>本サイトに関するお問い合わせは，下記の窓口までお願いいたします。</p>
    <ol class="list-disc">
      <li>
        Eメールアドレス：ktrotsuka@gmail.com
      </li>
      <li>
        Twitter：@buiYC5hD0eOHaRK
      </li>
    </ol>
  </div>
    <br>
</div>