<div class="flex justify-center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJZiPU0k3DS-QghF06oWuHy3Vv5GcPYKt-YUK6AAFyeAzgyw/viewform?embedded=true" width="640" height="542" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>